@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Jost", sans-serif;
  
  font-style: normal;
	/* background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("/12.jpg"); */
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}


/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

@layer components {
	.bg-glass {
		@apply bg-clip-padding backdrop-filter backdrop-blur-md hover:bg-gray-600/10 border border-gray-800 text-white;
	}
}



.github-heatmap-container {
  /* display: flex;
  flex-direction: column; */
    color: #000000;
    padding: 1rem;
    /* background: white; */
    gap: 3px;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .github-heatmap-container .overflow-x-auto {
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent; /* Firefox */
  }


  .github-heatmap-container .overflow-x-auto::-webkit-scrollbar {
    height: 6px;
  }
  
  .github-heatmap-container .overflow-x-auto::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .github-heatmap-container .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
  }
  
  .react-calendar-heatmap {
    color: #000000;
    fill: #000000;
    display: flex;
    width: 100%;
  }
  .react-calendar-heatmap text{
    
    fill: #000000;
    
    
  }
  
  .react-calendar-heatmap .color-empty {
    fill: #e7cffeb4 !important;
  }
  
  .react-calendar-heatmap .color-scale-1 {
    fill: #cccdcc;
  }
  
  .react-calendar-heatmap .color-scale-2 {
    fill: #b2beb5;
  }
  
  .react-calendar-heatmap .color-scale-3 {
    fill: #929c94;
  }
  
  .react-calendar-heatmap .color-scale-4 {
    fill: #4e5450;
  }
  
  /* Make the heatmap responsive */
  @media (max-width: 768px) {
    .react-calendar-heatmap {
      font-size: 12px;
    }
  }


  .explore-container {
    max-height: 100vh; 
    overflow-y: auto; 
    overflow-x: hidden;
    max-width: 100%;

}


